header {
  width: 100%;
}

header h1 {
    text-align: center;
}

body {
    font-family: 'Fira Sans', sans-serif;
    background-color: antiquewhite;
  }
  
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: 'Merriweather', serif;
    font-weight: 700;
  }
  